button:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 500;
    }
 body {font-family: "Roboto"}
.black-link{
    color:#212121;
        }
.black-link:visited{
    color:#2196F3
}
.black-link{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.contact{
    color: #757575;
    text-decoration: none;
}
.company-name{
    font-family:"Raleway", sans-serif;
    font-weight: bold;
    font-style: normal;
    color:#212121;
    }
  .team h4 {
    font-weight: 500;
 }
.team p{
    font-weight: 400;
}
.paragraphs h2{
font-weight:700
}
.paragraphs p{
    font-weight: 400
}